<%- include('../includes/head.ejs') %>

<%- include('../includes/heading.ejs') %>

<%- include('../includes/navigation.ejs') %>

<main>
  <% if(products.length > 0){ %>
  <ul class="cart__item-list">
    <% products.forEach(p=>{ %>
    <li class="cart__item">
      <div>
        <img src="<%= p.productId.imageUrl %>" alt="">
      </div>
      <h1><%= p.productId.title %></h1>
      <h2><%= p.quantity %></h2>
      <form action="/cart-delete-items" method="post">
        <button type="submit" class="btn btn-danger">حذف</button>
        <input type="hidden" name="productId" value="<%= p.productId._id %>">
      </form>
    </li>
    <% }) %>
  </ul>
  <% }else{ %>
  <h1>سبد خرید خالی است</h1>
  <% } %>
</main>

<%- include('../includes/end.ejs') %>